<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper

    PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.garam.web.common.VehicleInfo_Mapper">

	<select id="get_Ve_List"
		resultType="com.garam.common.model.VehicleInfo_VO">

		SELECT

		car_number,
		vehicle,
		company,
		owner,
		bus,
		brand,
		name,
		grade,
		fuel,
		num,
		color,
		regist,
		expire,
		price,
		special,
		reg_d,
		reg_add,
		insu_d,
		insu_add,
		juk_d,
		juk_add,
		img1,
		img2,
		img3,
		trash

		FROM vehicle_info
		
		WHERE trash = 1

		ORDER BY vehicle
	</select>



	<select id="get_Ve_Contents" parameterType="String"
		resultType="com.garam.common.model.VehicleInfo_VO">

		SELECT

		car_number,
		vehicle,
		company,
		owner,
		bus,
		brand,
		name,
		grade,
		fuel,
		num,
		color,
		regist,
		expire,
		price,
		special,
		reg_d,
		reg_add,
		insu_d,
		insu_add,
		juk_d,
		juk_add,
		img1,
		img2,
		img3,
		trash

		FROM

		vehicle_info

		WHERE

		car_number = #{car_number}
	</select>



	<insert id="insert_Ve"
		parameterType="com.garam.common.model.VehicleInfo_VO">

		INSERT INTO vehicle_info

		(
		car_number,
		vehicle,
		company,
		owner,
		bus,
		brand,
		name,
		grade,
		fuel,
		num,
		color,
		regist,
		expire,
		price,
		special,
		reg_d,
		reg_add,
		insu_d,
		insu_add,
		juk_d,
		juk_add,
		img1,
		img2,
		img3,
		trash
		)

		VALUES

		(
		#{car_number},
		#{vehicle},
		#{company},
		#{owner},
		#{bus},
		#{brand},
		#{name},
		#{grade},
		#{fuel},
		#{num},
		#{color},
		#{regist},
		#{expire},
		#{price},
		#{special},
		#{reg_d},
		#{reg_add},
		#{insu_d},
		#{insu_add},
		#{juk_d},
		#{juk_add},
		#{img1},
		#{img2},
		#{img3},
		#{trash},
		)

	</insert>



	<update id="update_Emp"
		parameterType="com.garam.common.model.EmployeeInfo_VO">

		UPDATE vehicle_info

		SET

		car_number = #{car_number},
		vehicle = #{vehicle},
		company = #{company},
		owner = #{owner},
		bus =
		#{bus},
		brand = #{brand},
		name = #{name},
		grade = #{grade},
		fuel =
		#{fuel},
		num = #{num},
		color = #{color},
		regist = NOW(),
		expire =
		NOW(),
		price = 1,
		special = #{special},
		reg_d = NOW(),
		reg_add = #{reg_add},
		insu_d = NOW(),
		insu_add = #{insu_add},
		juk_d = #{juk_d},
		juk_add
		=
		#{juk_add},
		img1 = #{img1},
		img2 = #{img2},
		img3 = #{img3},
		trash = 1
		WHERE
		car_number = #{car_number};

	</update>



	<delete id="delete_Ve" parameterType="String">

		DELETE FROM vehicle_info
		WHERE car_number = #{car_number};

	</delete>

</mapper>