@charset "UTF-8";

.form-control {
	height: 3px;
}

.infoContent {
	border: 1px solid #8390A2;
	border-radius: 10px;
	padding: 2rem 3rem 2rem 3rem;
}

.body-content {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.body-content-btn {
	display: flex;
	align-items: center;
}

#infoContent-std {
	color: #8390A2;
}

#infoContent-ed {
	color: #8390A2;
}

.body-content01 {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.body-content01-item {
	flex: 1;
	text-align: right;
}

.infoContent-replyC hr {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.infoContent-reply-body {
	display: flex;
	gap: 1rem;
}

.infoContent-reply-body-item {
	margin-left: 1rem;
	margin-top: .2rem;
}

.infoContent-reply-body-in {
	display: flex;
	flex-direction: column;
}

.infoContent-reply-body-in-item:nth-child(1) {
	font-weight: 600;
}

.infoContent-reply-body-in-item:nth-child(2) {
	
}

.infoContent-reply-body-in-item:nth-child(3) {
	display: flex;
	gap: 1rem;
	font-size: 12px;
	margin-top: 0.5rem;
	color: #8390A2;
}

.infoContent-reply-body-in-item:nth-child(3) a {
	color: #8390A2;
}