@charset "EUC-KR";

blockquote {
	padding: 10px 20px;
	margin: 0px;
	font-size: 22px;
	border-left: 5px solid #eee;
}

blockquote .small, blockquote footer, blockquote small {
	display: block;
	font-size: 65%;
	line-height: 0.8;
	color: #777;
}

.nav {
	font-size: 14px;
	padding: 0px;
}

.nav-pills .nav-link {
	border-radius: 0rem;
}

.nav-tabs .nav-link {
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
}

.table {
	font-size: 12px;
	background-color: #fff;
}