@charset "EUC-KR";

.cal-sat {
	color: var(- -sat-col);
}

.cal-sun {
	color: var(- -sun-col);
}

.dash-cal {
	padding: 15px;
}

.dash-cal-h {
	display: flex;
	justify-content: space-between;
}

.dash-cal-h-item {
	text-align: center;
	align-self: center;
}

.dash-cal-h-item1 {
	
}

.dash-cal-h-item2 {
	width: 30%;
}

.dash-cal-h-item3 {
	
}

.dash-cal-con {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	height: 89%;
	margin-top: 3%;
	gap: 0.25rem;
	margin-top: 3%;
}

.dash-cal-con-item {
	text-align: center;
	align-self: center;
	align-self: start;
	padding: 5px;
	font-weight: bold;
}

.dash-cal-con-item-c {
	text-align: center;
	align-self: center;
	padding: 7px;
	margin-bottom: 0px auto;
	margin-top: 0px auto;
	border-radius: 3px;
	cursor: pointer;
}

.dash-cal-con-item-c:hover {
	background: silver;
}

.dash-cal-con-item-t {
	text-align: center;
	align-self: center;
	padding: 7px;
	margin-bottom: 0px auto;
	margin-top: 0px auto;
	border-radius: 3px;
	cursor: pointer;
	background: #CF2F11;
}

.dash-cal-con-item-t:hover {
	background: silver;
}

.dash-cal-con-item-ed1 {
	color: #CF2F11;
}

.dash-cal-con-item-ed2 {
	color: #CF2F11;
}

.dash-cal-h-item4 {
	display: flex;
	gap: 0.7rem;
}