@charset "UTF-8";

html {
	overflow-y: scroll;
}

body {
	background-color: #edf2f9;
	margin: auto 0px;
	padding: 1.2rem;
	padding-top: 1.2rem;
}

a {
	cursor: pointer;
}

input[type="checkbox"] {
	/* 	width: 30px; Desired width */
	/* 	height: 30px; Desired height */
	cursor: pointer;
}

.card-song {
	background: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.301);
	border-radius: .3rem; /* 5px rounded corners */
}

.card-title {
	background: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.301);
	border-radius: .3rem .3rem 0px 0px; /* 5px rounded corners */
}

.ck-editor__editable {
	height: 300px;
}

.las {
	display: inline;
	line-height: 1.5rem;
}

.pgBox {
	text-align: center;
	padding: 1rem;
}

.panel-collapse {
	cursor: default;
}

.BaseButton.size_default {
	min-width: 35px;
	height: 25px;
	margin-right: 1rem;
	padding: 0 12px;
	font-size: 1.2rem;
	line-height: 25px;
}

.BaseButton--skinGray {
	border: 1 px solid transparent;
	background: #eff0f2;
	color: #000000;
}

.BaseButton--skinGreen {
	background: rgba(3, 199, 90, 0.12);
	color: #009f47;
}

.BaseButton {
	display: inline-block;
	border-radius: 5px;
	box-sizing: border-box;
	font-weight: 700;
	text-align: center;
	vertical-align: top;
}